# Containers
## Containers are used to group objects together. The core built-in containers in Python are:
- Lists
- Tuples
- Dictionaries
- Set

### Lists - can contain items of different types, they are mutable meaning we can change their content and we can also index them (to get a single element) or slice them (to get sequence of elements).

In [1]:
# Creating a list.
L = [5, 9.0, 12, 'Python', 'Is fun']

print(L)
print(type(L))

[5, 9.0, 12, 'Python', 'Is fun']
<class 'list'>

In [2]:
# Extracting the first element with indexing. In python starts from 0.
print(L[0])

5

In [3]:
# When slicing a list the left bound is included while the right is not.
# So we only get the elements with index values ranging from 1 to 3 in the code below
print(L[1:4])

[9.0, 12, 'Python']

In [4]:
# Changing the content of out list.
L[1] = 99
print(L)

[5, 99, 12, 'Python', 'Is fun']

## Indexing & Slicing lissts
### Main things have in mind:

- Indexing starts from 0
- When slicing a list the left bound is included while the right is not.

In [6]:
L1 = ["p", 5, 11, "apples", 3, 4, 7, 12, 14, "last"]

# Some basic indexing
print(L1[0])
print()

# Returning the last element.
print(L1[-1])

p

last

In [7]:
# Slicing: L1[start:stop[:step]]
# The stepsize is by default 1 and can be omitted.

print(L1)

print(L1[0:5:3])
print(L1[0:2]) # Right bound is not included and step size is by default 1.
print(L1[-4:-1])

['p', 5, 11, 'apples', 3, 4, 7, 12, 14, 'last']
['p', 'apples']
['p', 5]
[7, 12, 14]

In [8]:
# More axamples on slicing.
print(L1[:]) # Get all elements.
print(L1[::2]) # Get every second element.
print(L1[::-1]) #Reversing the list by using a step of -1.

['p', 5, 11, 'apples', 3, 4, 7, 12, 14, 'last']
['p', 11, 3, 7, 14]
['last', 14, 12, 7, 4, 3, 'apples', 11, 5, 'p']

In [9]:
# Slicing out-of-bound teturns an empty list.
print(L1[100:200])

[]

In [10]:
# Indexing out of bound returns an error
L1[100]

IndexError: list index out of range

## List methods
### Methods are functions availible for a given object which will be lists in this video.

In [11]:
L2 = [0, 1, 1, 2, 3, 5, 8, 13, 21]
L3 = ['Python', 'is', 'Awesome!']

L2.append(L3)
print(L2) # Now our list contains a list.

# Notice "append" adds the whole list while "extend" adds the individual elements in the list.
L2.extend(L3)
print(L2)

[0, 1, 1, 2, 3, 5, 8, 13, 21, ['Python', 'is', 'Awesome!']]
[0, 1, 1, 2, 3, 5, 8, 13, 21, ['Python', 'is', 'Awesome!'], 'Python', 'is', 'Awesome!']

In [12]:
# A small detour on indexing/slicing.
# We get the list in the list.
print(L2[-4])
# We index the list inside the list.
print(L2[-4][0])

['Python', 'is', 'Awesome!']
Python

In [14]:
# The pop function removes and return the element with a specific index value or
# the last element if no value is provided.

# Remove the element with index value 6.
print(L2)
L2.pop(6)
print(L2)

# If no index value provided the last element is removed. In this case we stored it in the variable last.
last = L2.pop()
print(L2)
print(last)

[0, 1, 1, 2, 3, 5, 13, 21, ['Python', 'is', 'Awesome!'], 'Python', 'is']
[0, 1, 1, 2, 3, 5, 21, ['Python', 'is', 'Awesome!'], 'Python', 'is']
[0, 1, 1, 2, 3, 5, 21, ['Python', 'is', 'Awesome!'], 'Python']
is

In [15]:
# Reverse the list.
L2.reverse()
print(L2)

['Python', ['Python', 'is', 'Awesome!'], 21, 5, 3, 2, 1, 1, 0]

In [16]:
#count the number of times an element accurs
print(L2)
print(L2.count(1))

['Python', ['Python', 'is', 'Awesome!'], 21, 5, 3, 2, 1, 1, 0]
2

## List comprenension
### With list comprehension we create a new list based on the values of an existing list.

In [18]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
print(numbers)

# Notice "x" below is arbitraty and including a conditions is not necessary.
new_list = [x*2 for x in numbers if 1 <= x <=3]
print(new_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
[2, 4, 6]

In [19]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
print(numbers)

# Notice "x" below is arbitraty and including a conditions is not necessary.
new_list = [x*2 for x in numbers]
print(new_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24]

In [20]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
print(numbers)

# Notice "x" below is arbitraty and including a conditions is not necessary.
new_list = [apple_pie*2 for apple_pie in numbers]
print(new_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24]

## Tuples
### Tuples are immutable meaning you cannot change them. This property is for instance useful in situations when you know that the data should be changed making your code more robust and safer.

In [22]:
our_first_tuple = (1, 2, 3, 'a', 'b', 'c')
print(our_first_tuple)
print(type(our_first_tuple))
print()

# Parentheses are not neccessary when creating tuples.
no_parentheses_needed = 1, 2, 3
print(no_parentheses_needed)
print(type(no_parentheses_needed))

(1, 2, 3, 'a', 'b', 'c')
<class 'tuple'>

(1, 2, 3)
<class 'tuple'>

In [23]:
# Tuple are immutable.
our_first_tuple[0] = 5

TypeError: 'tuple' object does not support item assignment

In [24]:
# Indexing as with list.
print(our_first_tuple[0])

# Slicing as with list.
print(our_first_tuple[1:5])

1
(2, 3, 'a', 'b')

In [25]:
# Below is an integer (not a tuple).
single_element_tuple = (1)
print(type(single_element_tuple))

# Must put a comma at the end.
single_element_tuple_v2 = (1,)
print(type(single_element_tuple_v2))

<class 'int'>
<class 'tuple'>

# Dictionaries
## Dictionaries are created by a key:value pair and are indexed by using keys which also are immutable

In [1]:
# Creating a register of same people each having a unique ID (key).
register = {1: 'Ada', 3: 'Bjarne', 17: 'Guido'}

print(register[3])
print(type(register))

Bjarne
<class 'dict'>

In [2]:
# Adding a new person in our register.
register [22] = 'Dennis'
print(register)

{1: 'Ada', 3: 'Bjarne', 17: 'Guido', 22: 'Dennis'}

# Sets
## Sets are unordered collections with no duplicate elements.

In [10]:
set_1 = {'apple', 'apple', 'apple', 'banana', 'banana'}
set_2 = set(['banana', 'apple'])
set_3 = {'apple', 'grape'}

In [11]:
set_1

{'apple', 'banana'}

In [12]:
set_2

{'apple', 'banana'}

In [13]:
set_3

{'apple', 'grape'}

In [6]:
# Since sets are unordered and contains no duplicate values set_1 is considered to be the same as set_2
print(set_1 == set_2)

True

In [7]:
# We can also perform the basic mathematical set calculations such as union, intersection, and differences.

A = {1, 2, 3, 4}
B = {3, 2} # Alternative way to create a set.

# Calculating the union (elements atleast in one of the sets).
print(A.union(B))

# Calculation the intersection (elements that are in both sets).
print(A.intersection(B))

# Calculating the difference (elements that are in A but not B).
print(A.difference(B))

{1, 2, 3, 4}
{2, 3}
{1, 4}

In [9]:
# Creating an empty set.
empty_set_wrong = {}
print(type(empty_set_wrong))

empty_set = set([])
print(type(empty_set))

<class 'dict'>
<class 'set'>